<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <% message.sub! 'Password', '密碼' %>
        <% message.sub! 'User name', '暱稱' %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
