<div class="container">
  <!-- /.row -->
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h5 class="card-title mb-2">關於我們</h5>
          <div class="card-text">
            <p>
            這網站是由一群愛好Fantasy的玩家所建立
            </p>
            <p>
            有任何問題或功能上的建議
            </p>
            <p>
            歡迎到<a href="https://www.facebook.com/%E5%8F%B0%E7%81%A3Fantasy%E5%A4%A7%E8%81%AF%E7%9B%9F-106004520979736/" target="_blank">粉絲頁</a>私訊我們
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!-- /.row -->
  <div class="row justify-content-md-center">
    <div class="col-8">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h5 class="card-title mb-2">什麼是 Yahoo Fantasy League ID?</h5>
          <div class="card-text">
            <p>
            【方法1】
            </p>
            <p>
             用瀏覽器開啟聯盟首頁，你的網址應該會類似像這樣
            </p>
            例如:
            https://basketball.fantasysports.yahoo.com/nba/5448
            </p>
            最後那個數字 5448 就是你的 League ID
            </p>
            <p>
            【方法2】
            </p>
            </p>
            到聯盟首頁，點選League -> Settings
            底下尋找 League ID
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
