<!-- Page Content -->
<div class="container">
  <div class="row justify-content-md-center">
    <!-- Team Member 1 -->
    <div class="col-4">
      <div class="card border-0 shadow">
        <div class="card-body">
          <h5 class="card-title mb-2">什麼是 Yahoo Fantasy League ID?</h5>
          <div class="card-text">
            <p>
            【方法1】
            </p>
            <p>
             用瀏覽器開啟聯盟首頁，你的網址應該會類似像這樣
            </p>
            例如:
            https://basketball.fantasysports.yahoo.com/nba/5448
            </p>
            最後那個數字 5448 就是你的 League ID
            </p>
            <p>
            【方法2】
            </p>
            </p>
            到聯盟首頁，點選League -> Settings
            底下尋找 League ID
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
