<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h3 class="my-4">數據討論
        <small>Secondary Text</small>
      </h3>
      <%= link_to "發文", new_post_path %>
      <% @posts.each do |post| %>
        <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <%= link_to "看全文..", post_path(post), class: "btn btn-primary" %>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2017 by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>
      <% end %>

      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- <!&#45;&#45; Search Widget &#45;&#45;> -->
      <!-- <div class="card my&#45;4"> -->
      <!--   <h5 class="card&#45;header">Search</h5> -->
      <!--   <div class="card&#45;body"> -->
      <!--     <div class="input&#45;group"> -->
      <!--       <input type="text" class="form&#45;control" placeholder="Search for..."> -->
      <!--       <span class="input&#45;group&#45;btn"> -->
      <!--         <button class="btn btn&#45;secondary" type="button">Go!</button> -->
      <!--       </span> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->

      <!-- <!&#45;&#45; Categories Widget &#45;&#45;> -->
      <!-- <div class="card my&#45;4"> -->
      <!--   <h5 class="card&#45;header">Categories</h5> -->
      <!--   <div class="card&#45;body"> -->
      <!--     <div class="row"> -->
      <!--       <div class="col&#45;lg&#45;6"> -->
      <!--         <ul class="list&#45;unstyled mb&#45;0"> -->
      <!--           <li> -->
      <!--             <a href="#">Web Design</a> -->
      <!--           </li> -->
      <!--           <li> -->
      <!--             <a href="#">HTML</a> -->
      <!--           </li> -->
      <!--           <li> -->
      <!--             <a href="#">Freebies</a> -->
      <!--           </li> -->
      <!--         </ul> -->
      <!--       </div> -->
      <!--       <div class="col&#45;lg&#45;6"> -->
      <!--         <ul class="list&#45;unstyled mb&#45;0"> -->
      <!--           <li> -->
      <!--             <a href="#">JavaScript</a> -->
      <!--           </li> -->
      <!--           <li> -->
      <!--             <a href="#">CSS</a> -->
      <!--           </li> -->
      <!--           <li> -->
      <!--             <a href="#">Tutorials</a> -->
      <!--           </li> -->
      <!--         </ul> -->
      <!--       </div> -->
      <!--     </div> -->
      <!--   </div> -->
      <!-- </div> -->

      <!-- <!&#45;&#45; Side Widget &#45;&#45;> -->
      <!-- <div class="card my&#45;4"> -->
      <!--   <h5 class="card&#45;header">Side Widget</h5> -->
      <!--   <div class="card&#45;body"> -->
      <!--     You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers! -->
      <!--   </div> -->
      <!-- </div> -->

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
