/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap/scss/bootstrap";

// for fixed navbar
body > .container {
  padding-top: 20px;
  padding-bottom: 30px;
}

$grid-gutter-width: 30px;

.custom-table-width {
  overflow-x: auto;
  margin-right: $grid-gutter-width / 2;     // 利用 margin 推回去原本 padding 的空間
  margin-left: $grid-gutter-width / 2;
  padding-right: 0;
  padding-left: 0;
}

.table {
  table-layout: fixed;   // 表格和欄寬將根據所給定的寬度來顯示
  min-width: 1440px;     // 避免因寬度不足而字疊在一起（根據表格內容設定寬度）
}

table {
  th, tr {
    font-size: 14px;
  }
  th, td {
    width: 2em;
  }
}

// 流水號 #
thead th:first-child,
tbody td:first-child {
  width: 2em;
}

// name
thead th:nth-child(2),
tbody td:nth-child(2) {
  width: 7em;
}

// team pos
thead th:nth-child(3),
tbody td:nth-child(3),
thead th:nth-child(5),
tbody td:nth-child(5),
thead th:nth-child(4),
tbody td:nth-child(4) {
  width: 2em;
}

body {
  padding-top: 56px;
}

